.addInterview{
  width: 80%;
  margin: 0 auto;
  .addInterviewContent{

    width: 40%;
    margin: 20px auto;
    .addInterviewTitle{
      width: 100%;
      text-align: center;
    }

    .addInterviewForm{
      width: 100%;
      text-align: center;
      input{
        line-height: 2;
        width: 40%;
        // padding: 10px;
      }
    }


  }
}
